- resource.years.each do |year|
  #group
    %span= resource.name
    %span= year
    %span= "Total: #{resource.budget_for_year(year)}"

    #targets
      %ul.targets
      - resource.targets.of_year(year).each do |target|
        %li
          %span= target.name
          %span= target.budget_for_year(year)
          #projects
            %ul.projects
            - target.projects.of_year(year).each do |project|
              %li
                %span= project.title
                %span= project.budget
