#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container.budget
  - resource.years.each do |year|
    .info-container
      %h1= resource.name
      %span= year.year
      %span= "Total: #{resource.budget_for_year(year)}"
      #targets
        - resource.targets.of_year(year).each do |target|
          .section
            .title-header
              %p= target.name
            .link-header
              %span= number_to_currency(target.budget_for_year(year), :unit => '€', :format => '%n %u')
            .section-content
              %ul.projects
                - target.projects.of_year(year).each do |project|
                  %li{ :class => cycle('odd', 'even')}
                    .title
                      = link_to(project.title,project.organization)
                    .budget
                      %span= number_to_currency(project.budget, :unit => '€', :format => '%n %u')