#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container
  - resource.years.each do |year|
    .info-container
    %h1= resource.name
    %span= resource.cif
    %span= resource.name
    %span= year
    %span= "Total: #{resource.budget(year)}"

    - Group.attended_by_organization(resource, year).each do |group|
      .section
        .title-header
          %h3= group.name
        .link-header
          %span= group.budget_for_organization_year(resource, year)
        .section-content
          - group.targets.of_year(year).each do |target|
            %h4 Programa
            %span= target.name
            %span= target.budget_for_organization_year(resource, year)
            #projects
              %h4 Proyectos
              %ul.projects
              - target.projects.of_year(year).of_organization(resource).each do |project|
                %li
                  %span= project.title
                  %span= project.budget
