#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container.budget
  .info-container

  %h1= resource.name
  %h2 Información disponible

  %table.organizations
    %tr.header
      %th CIF
      %th Entidad
      - Year.all.reverse.each do |y|
        %th= y.year.next
      %th Total
    %tr
      %td= resource.cif
      %td= resource.name
      - Year.all.reverse.each do |y|
        %td= number_to_currency(resource.budget_for_year(y), :unit => '€', :format => '%n %u')
      %td= number_to_currency(resource.budget, :unit => '€', :format => '%n %u')

  - resource.years.reverse.each do |year|

    %h2= "Proyectos financiados en #{year.year.next}"
    - Group.attended_by_organization(resource, year).each do |group|
      .section
        .title-header
          %h3= group.name
        .link-header
          %span= number_to_currency(group.budget_for_organization_year(resource, year), :unit => '€', :format => '%n %u')
        .section-content
          %ul.programs
            - group.targets.attended_by_organization(resource, year).each do |target|
              %li
                .title
                  %span= target.name
                .budget
                  %span= number_to_currency(target.budget_for_organization_year(resource, year), :unit => '€', :format => '%n %u')
                %ul.projects
                  - Project.of_organization(resource).target_is(target).of_year(year).each do |project|
                    %li{ :class => cycle('odd', 'even')}
                      .title
                        %span= project.title
                      .budget
                        %span= number_to_currency(project.budget, :unit => '€', :format => '%n %u')
