#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container.budget
  - resource.years.each do |year|
    .info-container

    %h1= resource.name
    %h2 Informacion disponible
    %span= resource.cif
    %span= resource.name
    %span= year.year
    %span= "Total:" + number_to_currency(resource.budget(year), :unit => '€', :format => '%n %u')
    %h2 Proyectos sociales en el 2011
    - Group.attended_by_organization(resource, year).each do |group|
      .section
        .title-header
          %h3= group.name
        .link-header
          %span= number_to_currency(group.budget_for_organization_year(resource, year), :unit => '€', :format => '%n %u')
        .section-content
          %ul.programs
            - Group.attended_by_organization(resource, year).each do |target|
              %li
                .title
                  %span= target.name
                .budget
                  %span= number_to_currency(target.budget_for_organization_year(resource, year), :unit => '€', :format => '%n %u')
                %ul.projects
                  - target.projects.of_year(year).of_organization(resource).each do |project|
                    %li{ :class => cycle('odd', 'even')}
                      .title
                        %span= project.title
                      .budget
                        %span= number_to_currency(project.budget, :unit => '€', :format => '%n %u')
