#info-frame
  #info
    %h2= raw("En #{content_tag(:span, resource.year.next)} se repartieron para fines sociales entre #{link_to resource.total_projects, groups_path} proyectos y #{link_to resource.total_organizations, organizations_path} organizaciones un total de")
    %h3= "#{(resource.budget/1000000).round} millones de euros"
    %hr
    .section.double#section-social
      .left
        %h2= "#{resource.social_percentage.round}%"
        %h3= "#{(resource.social_budget/1000000).round} m. €"
        %h4 Proyectos sociales
      .right
        %p El Ministerio de Sanidad y Política social distribuye este dinero, que cada año se adjudica y se publica en el BOE. Más información aquí.
    .section#section-foreing
      %h2= "#{resource.foreing_percentage.round}%"
      %h3= "#{(resource.foreing_budget/1000000).round} m. €"
      %h4 Proyectos de cooperación en paises de desarrollo
    .section#section-environmental
      %h2= "#{resource.environmental_percentage.round}%"
      %h3= "#{(resource.environmental_budget/1000000).round} m. €"
      %h4 Proyectos de cooperación en paises de desarrollo
#message-frame{:style => "display: none"}
#search-frame
  #search
    %h3 Busca
    %input
    %button Buscar
#content-container
  %h2== Proyectos sociales #{@year.year + 1}
  .section
    .title-header
      %h3 Colectivos
    .link-header
      = link_to 'Ir a colectivos', groups_path
    #graph-container
      #group-graph
  .section.left
    = render 'organizations/top_five', :year => @year

  .section.right
    = render 'projects/top_five', :year => @year

- content_for(:footer) do
  :javascript
    var data = [];
    var groups = "#{ a = ""
                     Group.of_year(resource).each {|g| a << "#{g.name}-#{"%.2f" % g.percentage(resource)}-#{g.id};"}
                     a[0..(a.size-2)]
                    }".split(";");
    for(i = 0; i < groups.length; i++){
      formated_data = groups[i].split("-");
      formated_data[1] = parseFloat(formated_data[1]);
      data[i] = formated_data;
    }
    groupChart(data);