!!! 5
%html
  %head
    %meta{ :charset => "utf-8" }/
    -#
      Always force latest IE rendering engine (even in intranet) & Chrome Frame
      Remove this if you use the .htaccess
    %link{ :type => "text/plain", :rel => "author", :href => "/humans.txt" }
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }/
    %meta{ :content => "Fines sociales. ¿A qué proyectos se destina el dinero de la casilla fines sociales?", :name => "description" }/
    %meta{ :content => "Judit Sarmiento, Ancor Cruz, Juanjo Andrés, Alberto Perdomo", :name => "author" }/
    -# Mobile viewport optimized: j.mp/bplateviewport
    %meta{ :content => "width=device-width; initial-scale=1.0", :name => "viewport" }/

    -# Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    -# %link{ :href => "/favicon.ico", :rel => "shortcut icon" }/
    -# %link{ :href => "/apple-touch-icon.png", :rel => "apple-touch-icon" }/

    %title= "FinesSociales #{yield(:title)}"
    = stylesheet_link_tag('screen', :media => 'screen, projection')
    = stylesheet_link_tag('print', :media => 'print')
    /[if lt IE 8]
      = stylesheet_link_tag('ie', :media => 'screen, projection')
    -# For the less-enabled mobile browsers like Opera Mini
    = stylesheet_link_tag('handheld', :media => 'handheld')
    = csrf_meta_tag
  %body{ :class => "#{controller.controller_name}" }
    #header-frame
      #header
        %h1= link_to(image_tag("logo.png", :alt => "Fines sociales"), root_path)
        =render_navigation
    #content
      #flash
        - flash.each do |key, value|
          %div{ :title => key.to_s.humanize, :class => key }
            %p= value
      = yield
    #footer-frame
      #footer
        %p.info
          = raw "#{link_to('finessociales.es', root_path)} es un proyecto opensource desarrollado para el #{link_to('Desafío Abredatos 2011', 'http://www.abredatos.es/', :target => '_blank')}. #{link_to('Código fuente', 'https://github.com/aentos/finessociales', :target => '_blank')}"
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" }
    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js" }
    = javascript_include_tag("rails", "highcharts", "group_chart", "add_div" )
    = content_for :footer    
    - if Rails.env.production?
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-23205565-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
